.container{
    display: inline-grid;
    grid-template-columns: auto auto auto auto; 
    background-color: #313233;
    padding: 10px;
    grid-gap: 10px; 

}
.container div{
    background-color: rgba(250, 139, 139, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 40px;
    font-size: 30px;
    text-align: center;
 
}