body{
    font-size: 1em;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: #4692f5;
}

.container{
    height: 100vh;
    display: grid; 
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-gap: 1rem;
    grid-template-areas: 
    'cabecalho cabecalho'
    'sidebar conteudo'
    'rodape rodape';
    
    
}

.cabecalho,
.sidebar,
.conteudo,
.rodape{
    display: grid;
    justify-content: center;
    align-content: center;
}


.cabecalho{
    border: 1px solid #f5464f;
    grid-area: cabecalho;
    text-align: center;
}

.sidebar{
    border: 1px solid #f5464f;
    grid-area: sidebar;
    text-align: center;

}

.conteudo{
    border: 1px solid #f5464f;
   grid-area: conteudo;
   display: grid;
   /*grid-template-columns: auto auto auto auto auto auto auto;*/
   grid-gap: 1rem;
   padding: 1rem;
   grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
   grid-auto-rows: 150px;
   justify-content: stretch;
   align-content: stretch;
    
}

.card-item{
    background-color: #95f546;
    text-align: center;

}

.rodape{
    border: 1px solid #f5464f;
    grid-area: rodape;
    text-align: center;
}