body{
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: #4692f5;
}

.container{
    display: grid; 
    grid-template-areas: 
    'cabecalho cabecalho cabecalho cabecalho cabecalho'
    'sidebar conteudo conteudo conteudo conteudo'
    'rodape rodape rodape rodape rodape';
    grid-template-rows: auto 65vh auto;
    height: 100vh;
}

.cabecalho{
    border: 10px solid #f5464f;
    font-size: 80px;
    grid-area: cabecalho;
    text-align: center;
}

.sidebar{
    border: 10px solid #f5464f;
    grid-area: sidebar;
    font-size: 80px;
    text-align: center;

}

.conteudo{
    border: 10px solid #f5464f;
   grid-area: conteudo;
   display: grid;
   grid-template-columns: auto auto auto auto auto auto auto;
   row-gap: 3rem;
   column-gap: 3rem;
   padding: 2rem;
   
   
    
}

.conteudo div{
    background-color: #95f546;
    text-align: center;
 
    font-size: 80px;
}

.rodape{
    border: 10px solid #f5464f;
    grid-area: rodape;
    text-align: center;
    font-size: 80px;
}