body {
    font-family: 'Raleway', sans-serif;
    background-color: #EEEEEE;
  }
  
  .container {
    margin: 0 auto; /* centralizando o conteudo no browser */
    width: 1000px; /* medida fixa */
  }
  header h1 {
    font-size: 3em; /* medida relativa */
    color: #333;
    padding: 10px;
  }
  
  header h3 {
    font-size: 1.5em;
    color: #333;
    padding: 20px; /* espaçamento interno do elemento */
  }
  
  .country {
    width: 31%; /* medida relativa */
    height: 200px;  /* medida fixa */
    float: left;  /* flutuando minha caixas  */
    margin: 10px; /* espaçamento externo das divs */
    -webkit-filter:grayscale(0%);
  }
  
  .country:hover {
    background-color: yellow;
    cursor: pointer; /* alterando o icone do mouse quando passar sobre a div */
    -webkit-filter:grayscale(100%);
    transition: 1s;
    box-shadow: 5px 10px #ffc68a;
  }
  
  .country p {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    line-height: 7 ;
    font-weight: bold;
    color: #fff; 
    letter-spacing:2px;
    text-shadow: 4px 4px #0a0909;
  }
  
  .clearfix {
    clear: both; /* fazendo um reset na nossa flutuação */
  }
  
  .bg-brazil {
    background-image: url('../images/brazil.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg-china {
    background-image: url('../images/china.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg-eua {
    background-image: url('../images/eua.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg-africa {
    background-image: url('../images/africa.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg-australia {
    background-image: url('../images/australia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg-india {
    background-image: url('../images/india.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg-japao{
    background-image: url('../images/Japão.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg-canada{
    background-image: url('../images/Canada.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg-italia{
    background-image: url('../images/Italia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg-russia{
    background-image: url('../images/Russia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg-portugal{
    background-image: url('../images/Portugal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg-mexico{
    background-image: url('../images/Mexico.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg-alemanha{
    background-image: url('../images/Alemanha.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg-espanha{
    background-image: url('../images/Espanha.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg-argentina{
    background-image: url('../images/Argentina.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg-islandia{
    background-image: url('../images/Islandia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg-panama{
    background-image: url('../images/Panama.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg-reino_unido{
    background-image: url('../images/Reino\ Unido.jpg');
      background-repeat: no-repeat;
    background-size: cover;
  }
  
  footer {
    margin-top: 20px;
    height: 60px;
    background-color: #333;
  
  }
  
  footer p {
    line-height: 4;
    text-align: center;
    color: #eee;
  }
  
  
  
  
  
  
  