.container-1{
    display: inline-grid; /*  */
    grid-template-columns: auto auto auto auto; /* definindo a quantidade de colunas e o quanto cada coluna ira ocupar no container*/
    background-color: #313233;
    padding: 10px;
    grid-gap: 10px; /* definido espaçamento entre as colunas e linhas*/
}


.itens-1{
    background-color: rgba(250, 139, 139, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 40px;
    font-size: 30px;
    text-align: center;
 
}

.container-2{
    display: inline-grid; 
    grid-template-columns: auto auto auto auto; 
    background-color: #313233;
    padding: 10px;
    grid-gap: 10px; 
}

.grid-container > div {
    background-color: rgba(250, 139, 139, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 40px;
    font-size: 30px;
    text-align: center;
  }


.item2{
    grid-column-start: 2;
    grid-column-end: 4;
 
}